@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

*, ::after, ::before {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
}